<h1>
  <strong>Editing Book</strong>
</h1>
<% if @book.errors.any? %>
 <%= @book.errors.count %>errors
 <ul>
   <% @book.errors.full_messages.each do |message| %>
    <il><%= message %></il>
   <% end %>
 </ul>
<% end %>
<%= form_with model: @book,url:book_path(@book.id),method: :patch do |f| %>
<div class ="filed">
 <h4>Title</h4>
  <%= f.text_field :title %>
</div>
<div class ="area">
 <h4>Body</h4>
  <%= f.text_area :body %>
</div>
 <div class ="submit">
  <%=f.submit'Update Book' %>
</div>
<% end %>

<%= link_to "Show",book_path(@book.id) %>
  |
<%= link_to "Back",books_path(@books) %>

